doctype xml
persons(xmlns="http://www.w3schools.com"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.w3schools.com persons.xsd")
	person
		name Minonne Clemente
		shortname mino
		email Clemente.Minonne@iProcess.ch
		website https://www.xing.com/profile/Clemente_Minonne
	person
		name Alexandre de Spindler
		shortname desa
		email alexandre.despindler@fhnw.ch
		website https://www.linkedin.com/pub/alexandre-de-spindler/3/6a5/b32
	person
		name Thomas Keller
		shortname kell
		email th.kellerzhaw.ch
		website http://www.zhaw.ch/fileadmin/php_includes/popup/person-detail.php?kurzz=kell
	person
		name Judith Studer
		shortname stuj
		email stuj@zhaw.ch
		website asdf
