doctype xml
// data from http://randomuser.me/
persons 
	person
		name Lewis Baker
		shortname leba
		email lewis.baker88@example.com
		picture http://api.randomuser.me/portraits/men/24.jpg
		location Zürich
		twitter @lew_baker
	person
		name Owen Hopkins
		shortname owho
		email owen.hopkins91@example.com
		picture http://api.randomuser.me/portraits/men/32.jpg
		location Windisch
		twitter @owen_hopkins
	person
		name Peggy Johnson
		email peggy.johnson75@example.com
		shortname pejo
		picture http://api.randomuser.me/portraits/women/56.jpg
		location Winterthur
		twitter @PeggyJ
	person
		name Felix Wright
		shortname fewr
		email felix.wright79@example.com
		picture http://api.randomuser.me/portraits/men/61.jpg
		twitter @FelixWright22
	person
		name Isobel Sims
		shortname issi
		email isobel.sims49@example.com
		picture http://api.randomuser.me/portraits/women/29.jpg
		location Baden
		twitter @Simply_Simming
	person
		name Lucy Meyer
		shortname lume
		email lucy.meyer22@example.com
		picture http://api.randomuser.me/portraits/women/88.jpg
		location Adliswil
		twitter @lucymeyerunicef
	person
		name Rebecca Reyes
		shortname rere
		email rebecca.reyes14@example.com
		picture http://api.randomuser.me/portraits/women/43.jpg
		location Dübendorf
		twitter @thereyesreport

//(xmlns="http://www.w3schools.com"
//xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
//xsi:schemaLocation="http://www.w3schools.com persons.xsd")