doctype xml
persons 
	person
		name Minonne Clemente
		shortname mino
		email Clemente.Minonne@iProcess.ch
		website https://www.xing.com/profile/Clemente_Minonne
		location Zürich
	person
		website https://www.linkedin.com/pub/alexandre-de-spindler/3/6a5/b32
		name Alexandre de Spindler
		shortname desa
		email alexandre.despindler@fhnw.ch
		location Windisch
	person
		name Thomas Keller
		email th@kellerzhaw.ch
		shortname kell
		website http://www.zhaw.ch/fileadmin/php_includes/popup/person-detail.php?kurzz=kell
		location Winterthur
	person
		name Judith Studer
		shortname stuj
		email stuj@zhaw.ch
		website asdf

//(xmlns="http://www.w3schools.com"
//xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
//xsi:schemaLocation="http://www.w3schools.com persons.xsd")