doctype xml
xsl:stylesheet(
    version="1.0"
    xmlns:xsl="http://www.w3.org/1999/XSL/Transform")

    xsl:template(match="/")
        html
            head
                title XML/XSD/XSL with jade, gulp and node.js example
                link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css')
                style
                    :stylus
                        html
                            font-family: 'Lato', sans-serif
                            font-weight: 300

                        h1
                            font-weight: 300
                        .person
                            transition: background-color 0.5s
                            margin-bottom: 2em

                            &.highlight
                                background-color: yellow
                        .portrait
                            height: 50px
                            width: 50px
                            display: inline-block
                            background-size: cover
                            border-radius: 50px
                            float: left
                            margin-right: 1em
                        .name
                            font-weight: 400
                        a
                            color: black
                            text-decoration: none
                            &:hover
                                text-decoration: underline

                        #map
                            height: 400px
                            width: 100%
                            margin-bottom: 2em

                script(src="http://maps.googleapis.com/maps/api/js")
                script(src="js/map.js")

            body
                h1 Persons
                #map

                xsl:for-each(select="persons/person")
                    .person(data-location="{location}")
                        .portrait(style='background-image: url({picture})')
                        .name
                            xsl:value-of(select="name")
                            |  (
                            a(href="http://www.twitter.com/{twitter}" target="_blank")
                                xsl:value-of(select="twitter")
                            | )
                        .email
                            a(href="mailto:{email}")
                                xsl:value-of(select="email")
