doctype xml
xs:schema(
    xmlns:xs           = "http://www.w3.org/2001/XMLSchema"
    xmlns              = "http://www.w3schools.com")

    xs:element(name="workspace")
        xs:complexType
            xs:sequence

                xs:element(name="persons" maxOccurs="1")
                    xs:complexType
                        xs:sequence
                            xs:element(name="person" maxOccurs="unbounded")
                                xs:complexType
                                    xs:all
                                        xs:element(name="peers" minOccurs="0" maxOccurs="1")
                                            xs:complexType
                                                xs:sequence
                                                    xs:element(name="personRef" maxOccurs="unbounded")
                                                        xs:complexType
                                                            xs:attribute(name="idref" type="xs:IDREF")
                                        xs:element(name="shortname")
                                            xs:simpleType
                                                xs:restriction(base="xs:string")
                                                    xs:pattern(value="[a-z]{4}")
                                        xs:element(name="email")
                                            xs:simpleType
                                                xs:restriction(base="xs:string")
                                                    xs:pattern(value="[^@]+@[^\.]+\..+")
                                        xs:element(name="twitter")
                                            xs:simpleType
                                                xs:restriction(base="xs:string")
                                                    xs:pattern(value="@([A-Za-z0-9_]+)")
                                        xs:element(name="name"      type="xs:string")
                                        xs:element(name="picture"   type="xs:anyURI")
                                        xs:element(name="location"  type="xs:string" minOccurs="0" maxOccurs="1")
                                    xs:attribute(name="id" type="xs:ID" use="required")

                xs:element(name="projects" maxOccurs="1")
                    xs:complexType
                        xs:sequence
                            xs:element(name="project" maxOccurs="unbounded")
                                xs:complexType
                                    xs:sequence
                                        xs:element(name="name" type="xs:string")
                                        xs:element(name="icon" type="xs:string")
                                        xs:element(name="members")
                                            xs:complexType
                                                xs:sequence
                                                    xs:element(name="personRef" minOccurs="0" maxOccurs="unbounded")
                                                        xs:complexType
                                                            xs:attribute(name="idref" type="xs:IDREF")
                                        xs:element(name="contributions")
                                            xs:complexType
                                                xs:sequence
                                                    xs:element(name="contribution" minOccurs="0" maxOccurs="unbounded")
                                                        xs:complexType
                                                            xs:sequence
                                                                xs:element(name="text"        type="xs:string")
                                                                xs:element(name="timestamp"   type="xs:dateTime")
                                                                xs:element(name="contributor" type="xs:IDREF")
                                                                xs:element(name="amount"      type="xs:integer")
